* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16;
  font-family: "Rajdhani", "sans-serif";
}

body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom left,
    #d0c3bd,
    #dcdcdd,
    #69849b,
    #3d6a66,
    #1d2424
  );
  background-image: cover;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

main {
  flex: 1;
  border: 5px;
  border-color: black;
}

/* Header/Navigation */
#title-row {
  display: flex;
}

#col-pic {
  flex: 5%;
}

#col-name {
  flex: 90%;
}

#profile-pic {
  height: auto;
  width: 7vw;
  border-radius: 20px;
  padding: 3% 5%;
  margin: 25% 0 0 25%;
}

#header-h1 {
  margin: 5% 60% 0 2%;
}

#header-h4 {
  margin: 0 60% 0 2%;
}

.nav {
  margin: 0 0 0 60%;
  padding: 2px;
}

.nav-ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-link {
  color: #1d2424;
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 5px;
  margin: 0 5px;
}

.nav-link:hover {
  transition: color 0.3s ease;
  color: #69849b;
}

/* ABOUT SECTION */
#about-section {
  display: flex;
}

#about {
  flex: 50%;
  background-color: none;
  align-items: left;
  border-radius: 5px;
  box-shadow: 2px 2px #69849b;
  padding: 1%;
  margin: 4% 2%;
}

#about-h3 {
  font-size: 25px;
  margin: 0 15% 0 0;
}

/* EXPERIENCE SECTION */
#experience {
  flex: 50%;
  background-color: none;
  align-items: center;
  border-radius: 5px;
  padding: 1%;
  margin: 4% 2%;
}

/* PROJECTS SECTION */

#projects-section {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
#projects-title {
  font-size: 25px;
  margin: 0 0 0 40%;
}

#project-h3 {
  font-size: 150%;
}

#project1_3 {
  background-color: lightyellow;
  opacity: 0.9;
  border-radius: 5px;
  margin: 2% 15% 2% 40%;
  padding: 1% 5% 1% 5%;
}

#project2_4 {
  background-color: lightyellow;
  opacity: 0.9;
  border-radius: 5px;
  margin: 2% 40% 2% 15%;
  padding: 1% 5% 1% 5%;
}

#img-div {
  display: flex;
  align-content: center;
  align-items: center;
}

#img {
  border-radius: 5px;
  width: 40vw;
  height: auto;
  margin: 2% 0 0 0;
}

#img:hover {
  opacity: 0.8;
}

/* Caption text */
#text {
  color: black;
  font-size: 15px;
  margin: 1%, 5% 5% 5%;
  position: relative;
  text-align: left;
}

/* CONTACT MODAL */
#contactBtn {
  font-size: 200%;
  /* text-shadow: 1px 1px #69849b; */
  background-color: #dcdcdd;
  height: 15vh;
  width: 40vw;
  border-radius: 10px;
  box-shadow: 1px 1px #69849b;
  margin: 5% 30%;
}

#contactBtn:hover {
  color: #d0c3bd;
  /* text-shadow: 1px 1px whitesmoke; */
  background-color: #69849b;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.modal {
  display: none; /* hide by default */
  position: fixed;
  z-index: 1; /* sits on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enables scroll if needed */
  background-color: rgb(0, 0, 0); /* fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* black with opacity */
}

/* modal content box */
.modal-content {
  background-color: #dcdcdd;
  border-radius: 5px;
  margin: 15% auto; /* 15% from top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 63%;
}

/* close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Contact Form */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

#contact-input {
  font-size: 16px;
  background-color: #edf5e1;
  height: 7vh;
  width: 25vw;
  padding: 1%;
  margin: 0.5% 30%;
  border-radius: 5px;
  box-shadow: 1px 1px #1d2424;
}

#text-area {
  font-size: 16px;
  background-color: #edf5e1;
  height: 20vh;
  width: 25vw;
  padding: 1%;
  margin: 0.5% 30%;
  border-radius: 5px;
  box-shadow: 1px 1px #1d2424;
}

#contact-button {
  font-size: 18px;
  font-weight: bolder;
  color: black;
  background-color: #69849b;
  height: 7vh;
  width: 15vw;
  margin: 0.15% 30%;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px #1d2424;
}

#contact-button:hover {
  background-color: rgba(178, 188, 197, 0.8);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
/* Footer/Social Navigation */

footer {
  margin: 5px;
  padding: 2px;
}

.footer-ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 0.5% 0 1%;
  padding: 0 0 0 5%;
  /* height: 10vh; */
}

#link {
  text-decoration: none;
  list-style: none;
  display: inline;
  /* margin: 0 5% 0 5%; */
  padding: 0 1% 0 1%;
}

.github {
  color: lightyellow;
  font-size: 500%;
  display: inline;
  /* margin: 0 5% 0 5%;
    padding: 0 25% 0 25%; */
}

.linked-in {
  color: lightyellow;
  font-size: 500%;
  display: inline;
  /* margin: 0 5% 0 5%;
    padding: 0 25% 0 25%; */
}

.github:hover,
.linked-in:hover {
  transition: color 0.3s ease;
  color: #1d2424;
}
